.movies__items {
  padding: 80px 70px 30px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px 20px;
  box-sizing: border-box;
  justify-items: center;
  overflow: hidden;
}

 @media screen and (max-width: 1279px) {
  .movies__items {
    padding: 80px 30px 0;
    grid-template-columns: repeat(2, 1fr);
    max-height: 1240px;
    gap: 36px 30px;
  } 
} 

@media screen and (max-width: 670px) {
  .movies__items {
    padding: 50px 10px 30px;
    grid-template-columns: 1fr;
    min-height: 558px;
    max-height: 1314px;
    row-gap: 20px;
  } 
}