.movie__item {
  /* list-style-type: none; */
  min-width: 270px;
  min-height: 151px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 10px;
  position: relative;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.05);

}

.movie__img {
  margin: 0;
  padding: 0;
  width: 270px;
  height: 151px;
  object-fit: cover;
  object-position: center;
  /* border-radius: 10px 10px 0 0; */
  cursor: pointer;

}

.movie__description {
  margin: 14px 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;


}

.movie__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movie__title {
  font-size: 13px;
  font-weight: 500;
  padding: 0;
  margin: 0;
  text-align: left;
  /* color: #000; */
  line-height: normal;

}

.movie__duration {
  font-size: 11px;
  font-weight: 400;
  margin: 0;
  padding-top: 10px;
  text-align: left;
  color: #A0A0A0;
  line-height: normal;

}

.movies__save-button {
  background-image: url('../../images/save8.svg');
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  background-color: white;

}

.movies__delete-button {
  background-image: url('../../images/delete.svg');
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  background-color: white;
}