.portfolio__site-container {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  justify-content: space-between;

}

.portfolio__site-name {
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -1.2px;
  margin: 0;
  padding: 0 0 40px 0;
}

.portfolio__link {
  text-decoration: none;
}
.profile__link-icon {
  background-image: url("../../images/text__COLOR_font-main.svg");
  background-size: contain;
  width: 20px;
  height: 20px;
  margin: 18px 4px 0 0;
  box-sizing: border-box;
  /* text-decoration: none; */
  /* object-fit: cover;
  object-position: center;
  justify-content: right; */
  /* img className="profile__link-icon" src="../../images/text__COLOR_font-main.svg" alt="Путь" */
}