.page-not-found {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-not-found__title {
  padding-top: 105px;
  font-size: 140px;
  font-weight: 400;
  line-height: normal;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

@media screen and (max-width: 768px) {
  .page-not-found__title {
    padding-top: 185px;
  } 
} 

@media screen and (max-width: 550px) {
  .page-not-found__title {
    margin: 110px auto 0;
    font-size: 80px;
  } 
} 

.page-not-found__text {
  margin: 5px auto 0;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 550px) {
  .page-not-found__text {
    font-size: 12px;
    margin: 10px auto 0;
  } 
}

.page-not-found__button {
  margin: 184px auto 0;
  color: #3456F3;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  background:none;
  border: none;
}

@media screen and (max-width: 550px) {
  .page-not-found__button {
    font-size: 12px;
    margin: 284px auto 0;
  } 
}

.page-not-found__button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.page-not-found__button:disabled {
  opacity: 0.2;
  cursor: auto;
}