.app {
  min-width: 282px;
  max-width: 880px;
  box-sizing: border-box;
}
@media screen and (max-width: 900px) {
  .app {
    max-width: 650px;
  } 
}
@media screen and (max-width: 670px) {
  .app {
    margin: 28px auto 36px;
    max-width: 320px;
  } 
}