.about-me {
  max-height: 1079px;
  /* box-sizing: border-box; */
  padding: 110px 70px;
  margin: 0 auto;

}

.about-me__name {
  font-size: 22px;
  font-weight: 400;
  padding: 0 0 23px 0;
  margin: 0 auto;
  line-height: normal;
  border-bottom: 1px solid black;
  letter-spacing: -0.88px;

}
.about-me__info {
  margin: 67px 0 0;
  display: flex;
  justify-content: space-between;
  /* display: grid;
  grid-template-columns: 600px max-content;
  grid-template-rows: 58px 20px 88px 108px;
  gap: 18px 270px;
  grid-template-areas: */
  /* "name img"
  "status img"
  "description img"
  "github img"; */
}
.about-me__resume {
  max-width: 600px;
}

.about-me__student-name {
  /* grid-area: name; */

  font-size: 50px;
  font-weight: 400;
  /* padding: 0; */
  margin: 0;
  line-height: 58px;
  letter-spacing: -2px;

}

.about-me__status {
  /* grid-area: status; */
  margin: 19px 0 0;
  font-size: 18px;
  font-weight: 500;
  /* margin: 0; */
  line-height: 20px;
}

.about-me__description {
  /* grid-area: description; */

  margin: 26px 0 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.about-me__github {
  /* grid-area: github; */
  margin: 99px 0 0;
  /* margin: 0; */
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;

}

.about-me__photo {
  /* grid-area: img; */
  background-image: url('/src/images/pic__COLOR_pic.png');
  min-width: 270px;
  min-height: 327px;
  border-radius: 10px;

}

.about-me__portfolio {
  padding-top: 100px;

}

.about-me__title {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: #A0A0A0;
}

.about-me__sites {
  list-style-type: none;
  margin-top: 50px;
  padding: 0px;

}

.about-me__site {
  border-bottom: 1px solid black;
  /* display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0; */
}
